#### ADS1 Assignment 2

**Tanvir Ahmed, 20075186**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

#### Using WBGAPI importing World Bank data on climate change

In [24]:
import wbgapi as wb         #importing wbgapi as wb 

# To install this API, please run pip install wbgapi

In [3]:
# Indicator ID for Total greenhouse gas emissions (kt of CO2 equivalent) is 'EN.ATM.GHGT.KT.CE'

greenhouse_emission_ind = 'EN.ATM.GHGT.KT.CE' #assigning the ID to a variable

In [112]:
def wb_data(indicator_id):
    """
    This function imports data from the World Bank website for the selected
    indicator and saves as a dataframe in the World Bank data format and it's transposed format. 
    The years are between 1950 and 2021 with 5 years increment.  
    Argument = indicator ID as string
    """
    
    df = wb.data.DataFrame(indicator_id, time=range(1950, 2021, 5))
    
    df.index.name = 'Country'
    df.columns.name = 'Year'
    df.columns = df.columns.str.replace("YR","")
    
    return(df, df.T)

In [142]:
df_emission = wb_data(greenhouse_emission_ind)

In [143]:
df_emission[0] # The first dataframe in the World Bank format

Year,1960,1965,1970,1975,1980,1985,1990,1995,2000,2005,2010,2015,2020
Country,,,,,,,,,,,,,
ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AFE,NaN,NaN,2.512439e+06,1.908922e+06,2.213255e+06,1.559561e+06,838050.0,895540.0,948360.0,1154760.0,1335490.0,1436770.0,NaN
AFG,NaN,NaN,NaN,NaN,NaN,NaN,15180.0,13480.0,15080.0,17400.0,44910.0,93730.0,NaN
AFW,NaN,NaN,6.327455e+05,6.007661e+05,8.132658e+05,6.818932e+05,398170.0,526710.0,553740.0,650720.0,690440.0,805370.0,NaN
AGO,NaN,NaN,NaN,NaN,NaN,NaN,42180.0,48460.0,49590.0,67230.0,84120.0,90620.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YEM,NaN,NaN,NaN,NaN,NaN,NaN,12370.0,15820.0,22250.0,29330.0,35610.0,26050.0,NaN
ZAF,NaN,NaN,NaN,NaN,NaN,NaN,312740.0,330560.0,344130.0,442920.0,499720.0,501090.0,NaN
ZMB,NaN,NaN,NaN,NaN,NaN,NaN,45340.0,38850.0,25680.0,32450.0,32210.0,38840.0,NaN
ZWE,NaN,NaN,NaN,NaN,NaN,NaN,32580.0,29750.0,31810.0,26760.0,28080.0,31280.0,NaN

In [115]:
df_emission[1] # The second dataframe with countries as columns

Country,ABW,AFE,AFG,AFW,AGO,ALB,AND,ARB,ARE,ARG,...,VIR,VNM,VUT,WLD,WSM,XKX,YEM,ZAF,ZMB,ZWE
Year,,,,,,,,,,,,,,,,,,,,,
1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970,NaN,2.512439e+06,NaN,632745.499853,NaN,NaN,NaN,5.523621e+05,NaN,NaN,...,NaN,NaN,NaN,2.705717e+07,NaN,NaN,NaN,NaN,NaN,NaN
1975,NaN,1.908922e+06,NaN,600766.122089,NaN,NaN,NaN,6.839662e+05,NaN,NaN,...,NaN,NaN,NaN,2.824575e+07,NaN,NaN,NaN,NaN,NaN,NaN
1980,NaN,2.213255e+06,NaN,813265.777979,NaN,NaN,NaN,9.277142e+05,NaN,NaN,...,NaN,NaN,NaN,3.279410e+07,NaN,NaN,NaN,NaN,NaN,NaN
1985,NaN,1.559561e+06,NaN,681893.220139,NaN,NaN,NaN,7.405972e+05,NaN,NaN,...,NaN,NaN,NaN,3.193114e+07,NaN,NaN,NaN,NaN,NaN,NaN
1990,NaN,8.380500e+05,15180.0,398170.000000,42180.0,11310.0,430.0,9.857200e+05,69710.0,243030.0,...,NaN,72550.0,490.0,2.984857e+07,360.0,NaN,12370.0,312740.0,45340.0,32580.0
1995,NaN,8.955400e+05,13480.0,526710.000000,48460.0,7430.0,460.0,1.202200e+06,90780.0,260580.0,...,NaN,96390.0,570.0,3.083991e+07,410.0,NaN,15820.0,330560.0,38850.0,29750.0
2000,NaN,9.483600e+05,15080.0,553740.000000,49590.0,8220.0,590.0,1.380740e+06,113340.0,284590.0,...,NaN,134560.0,590.0,3.278153e+07,440.0,NaN,22250.0,344130.0,25680.0,31810.0
2005,NaN,1.154760e+06,17400.0,650720.000000,67230.0,9100.0,660.0,1.721520e+06,156700.0,315570.0,...,NaN,187960.0,600.0,3.734626e+07,500.0,NaN,29330.0,442920.0,32450.0,26760.0
2010,NaN,1.335490e+06,44910.0,690440.000000,84120.0,9130.0,630.0,2.143440e+06,208580.0,334590.0,...,NaN,258430.0,740.0,4.181750e+07,520.0,NaN,35610.0,499720.0,32210.0,28080.0
2015,NaN,1.436770e+06,93730.0,805370.000000,90620.0,9850.0,580.0,2.438650e+06,252850.0,362560.0,...,NaN,327320.0,810.0,4.442327e+07,620.0,NaN,26050.0,501090.0,38840.0,31280.0
2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [276]:
# The country codes in the dataframes don't make proper sense we need to reset the index with proper country names

# The url belw contains the country names with their respective codes

url = 'https://docs.google.com/spreadsheets/d/1-HxLssAd2glfU40FWuccMw8758zrJyon6H6qkMjLeZU/edit#gid=0'

url_readable = url.replace('/edit#gid=', '/export?format=csv&gid=')

country_names = pd.read_csv(url_readable)

country_names['Country Name']

df_emission[0].index = country_names['Country Name']

df_emission[0]

Year,1960,1965,1970,1975,1980,1985,1990,1995,2000,2005,2010,2015,2020
Country Name,,,,,,,,,,,,,
Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Africa Eastern and Southern,NaN,NaN,2.512439e+06,1.908922e+06,2.213255e+06,1.559561e+06,838050.0,895540.0,948360.0,1154760.0,1335490.0,1436770.0,NaN
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,15180.0,13480.0,15080.0,17400.0,44910.0,93730.0,NaN
Africa Western and Central,NaN,NaN,6.327455e+05,6.007661e+05,8.132658e+05,6.818932e+05,398170.0,526710.0,553740.0,650720.0,690440.0,805370.0,NaN
Angola,NaN,NaN,NaN,NaN,NaN,NaN,42180.0,48460.0,49590.0,67230.0,84120.0,90620.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,12370.0,15820.0,22250.0,29330.0,35610.0,26050.0,NaN
South Africa,NaN,NaN,NaN,NaN,NaN,NaN,312740.0,330560.0,344130.0,442920.0,499720.0,501090.0,NaN
Zambia,NaN,NaN,NaN,NaN,NaN,NaN,45340.0,38850.0,25680.0,32450.0,32210.0,38840.0,NaN
Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,32580.0,29750.0,31810.0,26760.0,28080.0,31280.0,NaN

In [266]:
df_emission[1].columns = country_names['Country Name']
df_emission[1]

Country Name,Aruba,Africa Eastern and Southern,Afghanistan,Africa Western and Central,Angola,Albania,Andorra,Arab World,United Arab Emirates,Argentina,...,Virgin Islands (U.S.),Vietnam,Vanuatu,World,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
Year,,,,,,,,,,,,,,,,,,,,,
1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970,NaN,2.512439e+06,NaN,632745.499853,NaN,NaN,NaN,5.523621e+05,NaN,NaN,...,NaN,NaN,NaN,2.705717e+07,NaN,NaN,NaN,NaN,NaN,NaN
1975,NaN,1.908922e+06,NaN,600766.122089,NaN,NaN,NaN,6.839662e+05,NaN,NaN,...,NaN,NaN,NaN,2.824575e+07,NaN,NaN,NaN,NaN,NaN,NaN
1980,NaN,2.213255e+06,NaN,813265.777979,NaN,NaN,NaN,9.277142e+05,NaN,NaN,...,NaN,NaN,NaN,3.279410e+07,NaN,NaN,NaN,NaN,NaN,NaN
1985,NaN,1.559561e+06,NaN,681893.220139,NaN,NaN,NaN,7.405972e+05,NaN,NaN,...,NaN,NaN,NaN,3.193114e+07,NaN,NaN,NaN,NaN,NaN,NaN
1990,NaN,8.380500e+05,15180.0,398170.000000,42180.0,11310.0,430.0,9.857200e+05,69710.0,243030.0,...,NaN,72550.0,490.0,2.984857e+07,360.0,NaN,12370.0,312740.0,45340.0,32580.0
1995,NaN,8.955400e+05,13480.0,526710.000000,48460.0,7430.0,460.0,1.202200e+06,90780.0,260580.0,...,NaN,96390.0,570.0,3.083991e+07,410.0,NaN,15820.0,330560.0,38850.0,29750.0
2000,NaN,9.483600e+05,15080.0,553740.000000,49590.0,8220.0,590.0,1.380740e+06,113340.0,284590.0,...,NaN,134560.0,590.0,3.278153e+07,440.0,NaN,22250.0,344130.0,25680.0,31810.0
2005,NaN,1.154760e+06,17400.0,650720.000000,67230.0,9100.0,660.0,1.721520e+06,156700.0,315570.0,...,NaN,187960.0,600.0,3.734626e+07,500.0,NaN,29330.0,442920.0,32450.0,26760.0
2010,NaN,1.335490e+06,44910.0,690440.000000,84120.0,9130.0,630.0,2.143440e+06,208580.0,334590.0,...,NaN,258430.0,740.0,4.181750e+07,520.0,NaN,35610.0,499720.0,32210.0,28080.0
2015,NaN,1.436770e+06,93730.0,805370.000000,90620.0,9850.0,580.0,2.438650e+06,252850.0,362560.0,...,NaN,327320.0,810.0,4.442327e+07,620.0,NaN,26050.0,501090.0,38840.0,31280.0
2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [275]:
#df_emission[0]['2015'].max()

most_CO2 = df_emission[0].sort_values(by='2015', ascending=False)

most_CO2.iloc[20:40, :]

Year,1960,1965,1970,1975,1980,1985,1990,1995,2000,2005,2010,2015,2020
Country Name,,,,,,,,,,,,,
Europe & Central Asia (excluding high income),NaN,NaN,3.770266e+06,4.460961e+06,5.003623e+06,5.199955e+06,5830400.0,4113570.0,3836410.0,4124030.0,4316660.0,4308420.0,NaN
South Asia,NaN,NaN,9.979426e+05,1.095577e+06,1.221847e+06,1.459375e+06,1540030.0,1824060.0,2126400.0,2446200.0,3145000.0,3787030.0,NaN
South Asia (IDA & IBRD),NaN,NaN,9.979426e+05,1.095577e+06,1.221847e+06,1.459375e+06,1540030.0,1824060.0,2126400.0,2446200.0,3145000.0,3787030.0,NaN
European Union,NaN,NaN,4.595429e+06,4.922983e+06,5.406309e+06,5.165148e+06,4555240.0,4294780.0,4209000.0,4288290.0,3960810.0,3621560.0,NaN
Latin America & Caribbean,NaN,NaN,2.454615e+06,2.492541e+06,3.040379e+06,2.857617e+06,1922350.0,2148040.0,2422030.0,2714500.0,3005820.0,3232260.0,NaN
Latin America & the Caribbean (IDA & IBRD countries),NaN,NaN,2.405378e+06,2.439007e+06,2.980557e+06,2.789681e+06,1862760.0,2103380.0,2371450.0,2667180.0,2952290.0,3181190.0,NaN
Middle East & North Africa,NaN,NaN,6.345787e+05,8.297048e+05,1.016409e+06,8.946759e+05,1209040.0,1537870.0,1810390.0,2287270.0,2846690.0,3171900.0,NaN
India,NaN,NaN,NaN,NaN,NaN,NaN,1226440.0,1457390.0,1717560.0,1969680.0,2564130.0,3063650.0,NaN
IDA total,NaN,NaN,3.909283e+06,3.012565e+06,3.948938e+06,3.361015e+06,1590310.0,1790910.0,1950420.0,2241700.0,2522210.0,2848440.0,NaN
Euro area,NaN,NaN,3.346874e+06,3.522918e+06,3.862984e+06,3.648259e+06,3332670.0,3234160.0,3268620.0,3337720.0,3052450.0,2789940.0,NaN
Latin America & Caribbean (excluding high income),NaN,NaN,2.242642e+06,2.283219e+06,2.780626e+06,2.605523e+06,1645250.0,1833870.0,2067420.0,2325060.0,2582820.0,2787040.0,NaN
Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,3251770.0,2298150.0,2194340.0,2373120.0,2454000.0,2475690.0,NaN
Arab World,NaN,NaN,5.523621e+05,6.839662e+05,9.277142e+05,7.405972e+05,985720.0,1202200.0,1380740.0,1721520.0,2143440.0,2438650.0,NaN
Sub-Saharan Africa (IDA & IBRD countries),NaN,NaN,3.145185e+06,2.509688e+06,3.026521e+06,2.241454e+06,1236220.0,1422250.0,1502100.0,1805480.0,2025930.0,2242140.0,NaN
Sub-Saharan Africa,NaN,NaN,3.145185e+06,2.509688e+06,3.026521e+06,2.241454e+06,1236220.0,1422250.0,1502100.0,1805480.0,2025930.0,2242140.0,NaN
Sub-Saharan Africa (excluding high income),NaN,NaN,3.145046e+06,2.509525e+06,3.026286e+06,2.241165e+06,1236000.0,1421970.0,1501430.0,1804690.0,2025370.0,2241490.0,NaN
Fragile and conflict affected situations,NaN,NaN,3.122982e+06,2.367897e+06,3.214408e+06,2.700283e+06,1218750.0,1407880.0,1485280.0,1717380.0,1917980.0,2063350.0,NaN
Middle East & North Africa (IDA & IBRD countries),NaN,NaN,4.089969e+05,4.956257e+05,5.713721e+05,6.887648e+05,827190.0,1035720.0,1200530.0,1501950.0,1781760.0,1845120.0,NaN
Middle East & North Africa (excluding high income),NaN,NaN,4.089969e+05,4.956257e+05,5.713721e+05,6.887648e+05,827190.0,1035720.0,1200530.0,1501950.0,1781760.0,1845120.0,NaN
IDA only,NaN,NaN,3.475014e+06,2.561767e+06,3.387084e+06,2.788340e+06,924760.0,1014870.0,1127350.0,1317010.0,1516770.0,1745690.0,NaN

In [269]:
most_CO2.iloc[0:10][['1990', '2000', '2005', '2010', '2015', '2020']]

Year,1990,2000,2005,2010,2015,2020
Country Name,,,,,,
World,29848570.0,32781530.0,37346260.0,41817500.0,44423270.0,NaN
IDA & IBRD total,16037780.0,17549070.0,21901220.0,26836730.0,29916640.0,NaN
Low & middle income,15507940.0,16936130.0,21243460.0,26122260.0,29181020.0,NaN
Middle income,14843350.0,16190910.0,20369220.0,25140880.0,28130250.0,NaN
IBRD only,14447470.0,15598650.0,19659520.0,24314520.0,27068200.0,NaN
Upper middle income,10261150.0,10806520.0,14222980.0,17906320.0,19902580.0,NaN
Late-demographic dividend,9586640.0,9882350.0,13190600.0,16740450.0,18755290.0,NaN
East Asia & Pacific,6521270.0,8747770.0,11594140.0,14870050.0,16917810.0,NaN
High income,14160640.0,15617400.0,15854300.0,15434780.0,14971270.0,NaN
OECD members,14424840.0,15885250.0,16023940.0,15481930.0,14848340.0,NaN

In [111]:
# Constructing a dataframe with climate change indicators of interest for the following countries