In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
# URL for World Bank data
#url = "https://databank.worldbank.org/source/country-climate-and-development-report-(ccdr)"

#url = "http://wdi.worldbank.org/table/3.9#" 

url = 'https://databank.worldbank.org/reports.aspx?source=2&series=EN.ATM.GHGT.KT.CE&country='
    
page_climate = pd.read_html(url)

print(page_climate)

[  Indicator                          Rule Weighted Indicator   %
0       All  None  Mean  Median  Min  Sum               None NaN, Empty DataFrame
Columns: [Indicator, Rule, Weighted Indicator, %]
Index: [],                       0                                  1          2  \
0                 Title                                NaN        NaN
1            Font Style  Bold  Bold Italic  Italic  Normal  Font Type
2            Font Color                                NaN  Font Size
3  Horizontal Alignment       Justify  Left  Right  Center        NaN

                                                   3
0                                                NaN
1  Open Sans  Arial Black  Arial  Comic Sans  Co...
2                   8  9  10  11  12  13  14  15  16
3                                                NaN  ,                       0                                  1          2  \
0           Description                                NaN        NaN
1            Font Style  Bold  Bold Italic  Italic  Normal  Font Type
2            Font Color                                NaN  Font Size
3  Horizontal Alignment       Justify  Left  Right  Center        NaN

                                                   3
0                                                NaN
1  Open Sans  Arial Black  Arial  Comic Sans  Co...
2                   8  9  10  11  12  13  14  15  16
3                                                NaN  ,                                                    0
0  1990  2000  2012  2013  2014  2015  2016  2017...,    0     1     2     3     4     5     6     7     8     9     10    11    12  \
0 NaN  1990  2000  2012  2013  2014  2015  2016  2017  2018  2019  2020  2021

   13
0 NaN  ,     0   1
0 NaN NaN,       0   1
0  1990 NaN,       0   1
0  2000 NaN,       0   1
0  2012 NaN,       0   1
0  2013 NaN,       0   1
0  2014 NaN,       0   1
0  2015 NaN,       0   1
0  2016 NaN,       0   1
0  2017 NaN,       0   1
0  2018 NaN,       0   1
0  2019 NaN,       0   1
0  2020 NaN,       0   1
0  2021 NaN,                           0          1          2           3           4   \
0                Afghanistan    15180.0    15080.0     66750.0     74800.0
1                    Albania    11310.0     8220.0      9240.0      9440.0
2                    Algeria    95010.0   126380.0    189820.0    194000.0
3             American Samoa         ..         ..          ..          ..
4                    Andorra      430.0      590.0       600.0       590.0
5                     Angola    42180.0    49590.0     84930.0     88410.0
6        Antigua and Barbuda      360.0      610.0      1290.0      1060.0
7                  Argentina   243030.0   284590.0    348940.0    358180.0
8                    Armenia    24310.0     6020.0      9360.0      9300.0
9                      Aruba         ..         ..          ..          ..
10                 Australia   503820.0   608210.0    670930.0    581890.0
11                   Austria    76260.0    78240.0     77570.0     78120.0
12                Azerbaijan    76760.0    60260.0     83480.0     83030.0
13              Bahamas, The     1990.0     2390.0      3990.0      3480.0
14                   Bahrain    14060.0    24030.0     40880.0     43760.0
15                Bangladesh    92360.0   112250.0    165250.0    168630.0
16                  Barbados     3120.0     3600.0      4660.0      3940.0
17                   Belarus   137460.0    78600.0     88970.0     89610.0
18                   Belgium   130730.0   138310.0    111590.0    112860.0
19                    Belize     6560.0      800.0      1450.0      1360.0
20                     Benin     4760.0     7790.0     12500.0     13200.0
21                   Bermuda         ..         ..          ..          ..
22                    Bhutan     1130.0     1410.0      1870.0      1970.0
23                   Bolivia    23230.0    30520.0     49130.0     50910.0
24    Bosnia and Herzegovina    30140.0    18670.0     27260.0     27050.0
25                  Botswana    13660.0    14920.0     16490.0     15950.0
26                    Brazil   593950.0   765600.0   1042040.0   1070850.0
27    British Virgin Islands         ..         ..          ..          ..
28         Brunei Darussalam    13880.0    16720.0     17310.0     17110.0
29                  Bulgaria    98340.0    57700.0     57150.0     52060.0
30              Burkina Faso    12510.0    16620.0     25970.0     26990.0
31                   Burundi     2940.0     3050.0      4070.0      4430.0
32                Cabo Verde      240.0      400.0       730.0       720.0
33                  Cambodia    17280.0    20450.0     30310.0     30600.0
34                  Cameroon    17840.0    82580.0     84450.0     85650.0
35                    Canada   559840.0   671760.0    694210.0    705420.0
36            Cayman Islands         ..         ..          ..          ..
37  Central African Republic    34730.0    46740.0     46980.0     50040.0
38                      Chad    15440.0    35050.0     60510.0     62820.0
39           Channel Islands         ..         ..          ..          ..
40                     Chile    47520.0    71480.0    101900.0    104980.0
41                     China  3222270.0  4597430.0  11399830.0  11854530.0
42                  Colombia   124290.0   139710.0    165340.0    172010.0
43                   Comoros      270.0      320.0       460.0       490.0
44          Congo, Dem. Rep.    42210.0    35580.0     52160.0     55970.0
45               Congo, Rep.     4110.0     5010.0     10140.0      9630.0
46                Costa Rica     8850.0    10700.0     14230.0     14720.0
47             Cote d'Ivoire     9250.0    32420.0     19130.0     20460.0
48                   Croatia    28690.0    25330.0     23950.0     22830.0
49                      Cuba    54480.0    44590.0     46190.0     44850.0

            5           6           7           8           9   10  11  12  13
0      84620.0     93730.0     95370.0     97300.0     98920.0  ..  ..  .. NaN
1       9930.0      9850.0      9720.0     10290.0     10080.0  ..  ..  .. NaN
2     204130.0    212080.0    209790.0    211850.0    218910.0  ..  ..  .. NaN
3           ..          ..          ..          ..          ..  ..  ..  .. NaN
4        580.0       580.0       590.0       590.0       590.0  ..  ..  .. NaN
5      88980.0     90620.0     91240.0     87180.0     79730.0  ..  ..  .. NaN
6       1070.0      1100.0      1130.0      1160.0      1210.0  ..  ..  .. NaN
7     356100.0    362560.0    366370.0    367320.0    365650.0  ..  ..  .. NaN
8       9260.0      9260.0      9510.0      9280.0      9360.0  ..  ..  .. NaN
9           ..          ..          ..          ..          ..  ..  ..  .. NaN
10    593500.0    594580.0    573390.0    619790.0    615380.0  ..  ..  .. NaN
11     74350.0     75480.0     75660.0     77830.0     74980.0  ..  ..  .. NaN
12     83210.0     82030.0     81890.0     80520.0     80260.0  ..  ..  .. NaN
13      2980.0      2740.0      2570.0      2540.0      2640.0  ..  ..  .. NaN
14     45900.0     46950.0     47160.0     47940.0     48950.0  ..  ..  .. NaN
15    173510.0    182600.0    183500.0    192420.0    198970.0  ..  ..  .. NaN
16      3760.0      3770.0      3820.0      3720.0      3790.0  ..  ..  .. NaN
17     88890.0     84480.0     83590.0     85200.0     88140.0  ..  ..  .. NaN
18    106460.0    111520.0    110360.0    108250.0    108750.0  ..  ..  .. NaN
19      1310.0      1480.0      1510.0      1530.0      1560.0  ..  ..  .. NaN
20     13790.0     14430.0     16100.0     16270.0     17380.0  ..  ..  .. NaN
21          ..          ..          ..          ..          ..  ..  ..  .. NaN
22      2030.0      2040.0      2310.0      2420.0      2470.0  ..  ..  .. NaN
23     51870.0     53400.0     55780.0     56300.0     56870.0  ..  ..  .. NaN
24     24470.0     24640.0     27200.0     27460.0     27190.0  ..  ..  .. NaN
25     14760.0     14400.0     13580.0     17460.0     16120.0  ..  ..  .. NaN
26   1105900.0   1082700.0   1051690.0   1064920.0   1032640.0  ..  ..  .. NaN
27          ..          ..          ..          ..          ..  ..  ..  .. NaN
28     16960.0     15880.0     16180.0     16330.0     16620.0  ..  ..  .. NaN
29     54660.0     57310.0     54270.0     56450.0     53330.0  ..  ..  .. NaN
30     27490.0     28240.0     29650.0     30560.0     30850.0  ..  ..  .. NaN
31      4370.0      4350.0      4750.0      5390.0      5520.0  ..  ..  .. NaN
32       710.0       720.0       770.0       800.0       830.0  ..  ..  .. NaN
33     31550.0     33720.0     35390.0     37840.0     37460.0  ..  ..  .. NaN
34     86320.0     87300.0     88300.0     88320.0     89050.0  ..  ..  .. NaN
35    712310.0    707930.0    695200.0    709370.0    724930.0  ..  ..  .. NaN
36          ..          ..          ..          ..          ..  ..  ..  .. NaN
37     51370.0     53480.0     55820.0     54780.0     55680.0  ..  ..  .. NaN
38     65410.0     70560.0     75220.0     77690.0     80680.0  ..  ..  .. NaN
39          ..          ..          ..          ..          ..  ..  ..  .. NaN
40     98660.0    104020.0    108150.0    109350.0    109590.0  ..  ..  .. NaN
41  11865310.0  11859290.0  11857180.0  12058050.0  12355240.0  ..  ..  .. NaN
42    175230.0    176980.0    180940.0    177470.0    184100.0  ..  ..  .. NaN
43       490.0       510.0       540.0       580.0       590.0  ..  ..  .. NaN
44     57680.0     57980.0     57640.0     59660.0     58700.0  ..  ..  .. NaN
45      9370.0      9200.0      9250.0      9180.0      9370.0  ..  ..  .. NaN
46     14770.0     14630.0     15540.0     15710.0     15810.0  ..  ..  .. NaN
47     20410.0     21460.0     22730.0     23120.0     22900.0  ..  ..  .. NaN
48     22100.0     22690.0     22730.0     23400.0     22550.0  ..  ..  .. NaN
49     44520.0     44560.0     45650.0     42480.0     41860.0  ..  ..  .. NaN  ,            0                                                  1  \
0      Label                                                NaN
1  Font Type  Select  Open Sans  Arial  Arial Black  Comic S...
2      Style          Select  Normal  Bold  Italic  Bold Italic
3      Align                        Select  Left  Center  Right
4  Textcolor                                                NaN
5     Height                                                NaN

                2                                                  3
0             NaN                                                NaN
1       Font Size  Select  5  6  7  8  9  10  11  12  14  16  18 ...
2          Indent                                                NaN
3  Vertical Align                        Select  Top  Middle  Bottom
4      Background                                                NaN
5             NaN                                                NaN  ]

In [10]:
df_climate = page_climate[5]
print(df_climate)
#print(df_climate.describe())

   0     1     2     3     4     5     6     7     8     9     10    11    12  \
0 NaN  1990  2000  2012  2013  2014  2015  2016  2017  2018  2019  2020  2021

   13
0 NaN

#### Using WBGAPI importing World Bank data on climate change

In [41]:
import wbgapi as wb         #importing wbgapi as wb

In [86]:
# Indicator code for Total greenhouse gas emissions (kt of CO2 equivalent) is 'EN.ATM.GHGT.KT.CE'

greenhouse_emission_ind = 'EN.ATM.GHGT.KT.CE' #assigning the code to a variable

In [98]:
def wb_data(indicator_code):
    """
    This function imports data from the World Bank website for the selected
    indicator and saves as a dataframe in the World Bank data format and it's transposed format. 
    The years are between 1950 and 2021 with 5 years increment.  
    Argument = indicator ID as string
    """
    
    df = wb.data.DataFrame(indicator_code, time=range(1950, 2021, 5))
    
    df.index.name = 'Country'
    df.columns.name = 'Year'
    df.columns = df.columns.str.replace("YR","")
    
    return(df, df.T)

In [88]:
df_emission = wb_data(greenhouse_emission_ind)

In [97]:
df_emission[0] # The first dataframe in the World Bank format

Year,1960,1965,1970,1975,1980,1985,1990,1995,2000,2005,2010,2015,2020
Country,,,,,,,,,,,,,
ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AFE,NaN,NaN,2.512439e+06,1.908922e+06,2.213255e+06,1.559561e+06,838050.0,895540.0,948360.0,1154760.0,1335490.0,1436770.0,NaN
AFG,NaN,NaN,NaN,NaN,NaN,NaN,15180.0,13480.0,15080.0,17400.0,44910.0,93730.0,NaN
AFW,NaN,NaN,6.327455e+05,6.007661e+05,8.132658e+05,6.818932e+05,398170.0,526710.0,553740.0,650720.0,690440.0,805370.0,NaN
AGO,NaN,NaN,NaN,NaN,NaN,NaN,42180.0,48460.0,49590.0,67230.0,84120.0,90620.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YEM,NaN,NaN,NaN,NaN,NaN,NaN,12370.0,15820.0,22250.0,29330.0,35610.0,26050.0,NaN
ZAF,NaN,NaN,NaN,NaN,NaN,NaN,312740.0,330560.0,344130.0,442920.0,499720.0,501090.0,NaN
ZMB,NaN,NaN,NaN,NaN,NaN,NaN,45340.0,38850.0,25680.0,32450.0,32210.0,38840.0,NaN
ZWE,NaN,NaN,NaN,NaN,NaN,NaN,32580.0,29750.0,31810.0,26760.0,28080.0,31280.0,NaN

In [96]:
df_emission[1] # The second dataframe with countries as columns

Country,ABW,AFE,AFG,AFW,AGO,ALB,AND,ARB,ARE,ARG,...,VIR,VNM,VUT,WLD,WSM,XKX,YEM,ZAF,ZMB,ZWE
Year,,,,,,,,,,,,,,,,,,,,,
1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970,NaN,2.512439e+06,NaN,632745.499853,NaN,NaN,NaN,5.523621e+05,NaN,NaN,...,NaN,NaN,NaN,2.705717e+07,NaN,NaN,NaN,NaN,NaN,NaN
1975,NaN,1.908922e+06,NaN,600766.122089,NaN,NaN,NaN,6.839662e+05,NaN,NaN,...,NaN,NaN,NaN,2.824575e+07,NaN,NaN,NaN,NaN,NaN,NaN
1980,NaN,2.213255e+06,NaN,813265.777979,NaN,NaN,NaN,9.277142e+05,NaN,NaN,...,NaN,NaN,NaN,3.279410e+07,NaN,NaN,NaN,NaN,NaN,NaN
1985,NaN,1.559561e+06,NaN,681893.220139,NaN,NaN,NaN,7.405972e+05,NaN,NaN,...,NaN,NaN,NaN,3.193114e+07,NaN,NaN,NaN,NaN,NaN,NaN
1990,NaN,8.380500e+05,15180.0,398170.000000,42180.0,11310.0,430.0,9.857200e+05,69710.0,243030.0,...,NaN,72550.0,490.0,2.984857e+07,360.0,NaN,12370.0,312740.0,45340.0,32580.0
1995,NaN,8.955400e+05,13480.0,526710.000000,48460.0,7430.0,460.0,1.202200e+06,90780.0,260580.0,...,NaN,96390.0,570.0,3.083991e+07,410.0,NaN,15820.0,330560.0,38850.0,29750.0
2000,NaN,9.483600e+05,15080.0,553740.000000,49590.0,8220.0,590.0,1.380740e+06,113340.0,284590.0,...,NaN,134560.0,590.0,3.278153e+07,440.0,NaN,22250.0,344130.0,25680.0,31810.0
2005,NaN,1.154760e+06,17400.0,650720.000000,67230.0,9100.0,660.0,1.721520e+06,156700.0,315570.0,...,NaN,187960.0,600.0,3.734626e+07,500.0,NaN,29330.0,442920.0,32450.0,26760.0
2010,NaN,1.335490e+06,44910.0,690440.000000,84120.0,9130.0,630.0,2.143440e+06,208580.0,334590.0,...,NaN,258430.0,740.0,4.181750e+07,520.0,NaN,35610.0,499720.0,32210.0,28080.0
2015,NaN,1.436770e+06,93730.0,805370.000000,90620.0,9850.0,580.0,2.438650e+06,252850.0,362560.0,...,NaN,327320.0,810.0,4.442327e+07,620.0,NaN,26050.0,501090.0,38840.0,31280.0
2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN